input{
    outline: none;
    
}

small{
   
    color: red;
    font-weight: bolder;
    font-size: 17px;
}
/* to hide arrows in number input type */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
